body{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

/*Navigation menu*/
.nav a{
    color: #d6d6d6; /*f5f5f5;*/
}

.navbar-brand
{
	padding-top: 5px;
	margin-bottom: 5px;
}

.panel {
    background-color: #f5f5f5;
}

.math-display
{
	max-width: 100%;
	margin-bottom: 0px;
}

center img.math-display
{
	max-width: 100%;
}

.figure .caption
{
	text-indent: 0em;
	margin: 0px;
	text-align: center;
}

.figure p.noindent
{
	margin: 0px;
	text-align: center;
}

.figure img.graphics
{
	margin: 0px;
}

h1
{
	font-weight: 700;
}

h2.titleHead
{
	font-size: 400;
}

h2.chapterHead
{
	font-weight: 700;
}

h2.likechapterHead
{
	font-weight: 700;
}

h2.appendixHead
{
	font-weight: 700;
}

h3.sectionHead
{
	font-weight: 700;
}

h3.likesectionHead
{
	font-weight: 700;
}

h4.subsectionHead
{
	font-weight: 700;
}

h4.likesubsectionHead
{
	font-weight: 700;
}

h5.subsubsectionHead
{
	font-weight: 700;
}

h5.likesubsubsectionHead
{
	font-weight: 700;
}

.proof p.indent
{
	text-indent: 0px;	
}

.text-center
{
	width: 100%;
}