body{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    padding-bottom: 50px;
}

.math
{
    max-width: 100%;
    color: "blue";
}

.livro
{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Computer Modern Serif";
    font-size: 1.7rem;
}



.livro .prova span
{
    font-size: 1.7rem;
}

.livro .resp span
{
    font-size: 1.7rem;
}

.livro .resol span
{
    font-size: 1.7rem;
}

.livro span.verb
{
    font-size: 0.875em;
}

.livro .verbatim
{
    font-size: 0.875em;
    margin-bottom: 10px;
}

.livro .verbatiminput
{
    font-size: 0.875em;
    margin-bottom: 10px;
}

/*Navigation menu*/
.nav
{
    margin: 0px;
}

.navbar{
}

.nav a{
    color: #d6d6d6; /*f5f5f5;*/
}

.navbar-brand
{
    padding-top: 5px;
    margin-bottom: 5px;
}

.panel {
    background-color: #f5f5f5;
}


/*
.math-display
{
	max-width: 100%;
	margin-bottom: 0px;
}


center img.math-display
{
	max-width: 100%;
}
*/

.float .caption
{
	text-indent: 0em;
	margin: 0px;
	text-align: center;
}

.figure .caption
{
	text-indent: 0em;
	margin: 0px;
	text-align: center;
}

.figure p.noindent
{
	margin: 0px;
	text-align: center;
}

.figure img.graphics
{
	margin: 0px;
}

h1
{
	font-weight: 700;
}

h2.titleHead
{
	font-size: 400;
}

h2.chapterHead
{
	font-weight: 700;
	margin-bottom: 0px;
}

h2.likechapterHead
{
	font-weight: 700;
	margin-bottom: 0px;
}

h2.appendixHead
{
	font-weight: 700;
	margin-bottom: 0px;
}

h3.sectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

h3.likesectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

h4.subsectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

h4.likesubsectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

h5.subsubsectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

h5.likesubsubsectionHead
{
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0px;
}

hr.section
{
	margin-top: 0px;
}

.livro ul.nav{
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    max-width: 100%;
}

.livro ul.nav > li {
   display: table-cell;
   float: none;
   text-align: center;
}
    
.livro ul.nav > li > a
{
    color: #337ab7;
}

.alert.alert-warning{
    bottom:0px;
    position:fixed;
}
