body{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

/*Navigation menu*/
.nav a{
    color: #f5f5f5;
}

.panel {
    background-color: #f5f5f5;
}

.math-display
{
	max-width: 100%;
}

center img.math-display
{
	max-width: 100%;
}

.figure .caption
{
	margin: 0px;
	text-align: center;
}

.figure img.graphics
{
	margin: 0px;
	text-align: center;
}

.figure p.noindent
{
	margin: 0px;
	text-align: center;
}
